body {
  padding-bottom: 500px;
}

.container {
  background-color: #eee;
  border: 2px solid red;
  padding: 15px;
  max-width: 300px;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.item {
  background-color: #ccc;
  border: 2px solid blue;
  cursor: pointer;
  height: 65px;
  width: 65px;
}

input {
  width: 283px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: large;
  font-family: sans-serif;
  text-align: right;
}

h2,
h5 {
  height: 2px;
  color: darkslategray;
}
