<!-- <input type="text" class="item" /> -->
<div class="container">
  <h2>Calculadora</h2>
  <h5>Feita com Angular e TypeScript</h5>
  <input type="number" />
  <button class="item" id="item-percente">%</button>
  <button class="item" id="item-clear">C</button>
  <button class="item" id="item-back"><=</button>
  <button class="item" id="item-division">/</button>
  <button class="item" id="item-seven">7</button>
  <button class="item" id="item-eight">8</button>
  <button class="item" id="item-nine">9</button>
  <button class="item" id="item-multiply">X</button>
  <button class="item" id="item-for">4</button>
  <button class="item" id="item-five">5</button>
  <button class="item" id="item-six">6</button>
  <button class="item" id="item-subtract">-</button>
  <button class="item" id="item-one">1</button>
  <button class="item" id="item-two">2</button>
  <button class="item" id="item-three">3</button>
  <button class="item" id="item-four">+</button>
  <button class="item" id="item-empty"></button>
  <button class="item" id="item-zero">0</button>
  <button class="item" id="item-comma">,</button>
  <button class="item" id="item-equal">=</button>
</div>

<h4>Programado por:</h4>
<h3>Milton Tomé da Silva</h3>
