<h1>Calculadora</h1>

<div class="container">
  <div class="item" id="item-percente">%</div>
  <div class="item" id="item-clear">C</div>
  <div class="item" id="item-back"><=</div>
  <div class="item" id="item-division">/</div>
  <div class="item" id="item-seven">7</div>
  <div class="item" id="item-eight">8</div>
  <div class="item" id="item-nine">9</div>
  <div class="item" id="item-multiply">X</div>
  <div class="item" id="item-for">4</div>
  <div class="item" id="item-five">5</div>
  <div class="item" id="item-six">6</div>
  <div class="item" id="item-subtract">-</div>
  <div class="item" id="item-one">1</div>
  <div class="item" id="item-two">2</div>
  <div class="item" id="item-three">3</div>
  <div class="item" id="item-four">+</div>
  <div class="item" id="item-empty"></div>
  <div class="item" id="item-zero">0</div>
  <div class="item" id="item-comma">,</div>
  <div class="item" id="item-equal">=</div>
</div>
