body {
  padding-bottom: 500px;
}

.container {
  background-color: #eee;
  border: 2px solid red;
  padding: 15px;
  max-width: 300px;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.item {
  background-color: #ccc;
  border: 2px solid blue;
  margin: 2px;
  cursor: pointer;
  height: 65px;
  width: 65px;
  font-weight: bold;
  font-size: 1.5em;
}
#item-point {
  background-color: #ccc;
  border: 2px solid blue;
  margin: 2px;
  height: 65px;
  width: 65px;
  font-weight: bold;
  font-size: 1em;
}
#item-equal {
  background-color: #ccc;
  border: 2px solid blue;
  margin: 2px;
  cursor: pointer;
  height: 65px;
  width: 65px;
  font-weight: bold;
  font-size: 1em;
}
#valor {
  width: 283px;
  height: 40px;
  background-color: #b8b8ae;
  color: #000000;
  font-size: large;
  font-family: sans-serif;
  text-align: right;
  margin: 2px;
}

#total {
  width: 283px;
  height: 40px;
  background-color: #b8b8ae;
  color: #000000;
  font-size: large;
  font-family: sans-serif;
  text-align: right;
  margin: 2px;
}

h2,
h5 {
  height: 2px;
  color: darkslategray;
}

form {
  margin-bottom: 5px;
}

input,
#valor,
#total {
  border: none;
  margin: 0px 4px;
  width: 288px;
  font-weight: bold;
  font-size: 1.5em;
}
